# DATETIMES
Python has useful date objects in the datetime module
https://docs.python.org/2/library/datetime.html

Python date and time objects live in the *datetime* module, which we import that as dt

In [27]:
import datetime as dt

# Create a date, pass in year, month and day
my_date = dt.date(2016, 2, 20)
# print a date displays in standard date format
print my_date
print "This is the {}th day of the month".format(my_date.day)
print "This is the {}th month of the year".format(my_date.month)
print "This is the {}th year".format(my_date.year)

# creating dates checks that you have chosen good year, month and days values
# you cannot create the 31st of February 
# new_date = dt.date(2016, 2, 31)  # raises exception
# you cannot create the 1st of a month that does not exits 
# new_date = dt.date(2016, 22, 31)  # raises exception
# you cannot use years before 1 or after 9999
# new_date = dt.date(0, 2, 31)  # raises exception
# new_date = dt.date(10000, 2, 31)  # raises exception


# date objects are IMMUTABLE
# my_date.day = 1  # raises exception

2016-02-20
This is the 20th day of the month
This is the 2th month of the year
This is the 2016th year

# We can access the weekday of any given date
What is the day of the week in 2056, the 2nd of March?

What was that day of the week in 2002, on the 20th of May?

In [34]:
future_date = dt.date(2056, 3, 2)
print future_date.weekday()

independence = dt.date(2002, 5, 20)
print independence.weekday()

3
0

# We can get todays date

In [32]:
today = dt.date.today()
print today
print today.weekday()

2016-02-20
5

# We can find the difference between two dates
How many days are there between Timor Leste's independence and 2056, the 2nd of March?
How many days between today and the 25th of March this year?
How many days until Ony's Birthday?
How many days until Pete's Birthday?

In [44]:
# How many days are there between Timor Leste's independence and 2056, the 2nd of March?
print future_date
print independence
print future_date - independence

# How many days between today and the 25th of March this year?
today = dt.date.today()
mar25 = dt.date(2016, 3, 25)
print mar25 - today

# How many days until Ony's Birthday?
ony_birthday = dt.date(2016, 3, 6)
print "days until Ony's birthday", ony_birthday - today

# How many days until Pete's Birthday?
print "days until Pete's birthday", dt.date(2016, 2, 28) - today

# what day of the week was Ony born on?
print "Ony's birthday is on day:", ony_birthday.weekday()

2056-03-02
2002-05-20
19645 days, 0:00:00
34 days, 0:00:00
days until Ony's birthday 15 days, 0:00:00
days until Pete's birthday 8 days, 0:00:00
Ony was born on day: 6

# Printing dates

In [51]:
print ony_birthday
print ony_birthday.strftime('%a %A %B %j')
print ony_birthday.strftime('%c')

2016-03-06
Sun Sunday March 066
Sun Mar  6 00:00:00 2016